@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url("https://i.pinimg.com/originals/ad/ce/7d/adce7d386946f35cf0c28e628d24a30d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
}

.lol-app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 50px;
  color: #fff;
}

.lol-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lol-text {
  margin-bottom: 32px;
  text-align: center;
}

.lol-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(-255deg, #a2c3ff 0%, #8586c8 48%, #849bff 100%);
  color: #e2e2e2;
}

.lol-input::placeholder {
  color: #e2e2e2;
}